body {
    width: 220mm;
    /* height: 297mm; */
    margin: auto;
    /* border: 1px solid #dbdbdb; */
    box-shadow: 0.3em 0.3em 0.4em gray;
}

@page {
  size: letter;
  margin: 48px 24px 48px 24px;
}

@media print {
  * { font-size: 10.5pt; }
  html, body {
    width: 203mm;
    /*height: 297mm;*/
    margin: 0;
    border: none;
    box-shadow: none;
  }

  .print-no-pad {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
}

.horizontal-rule {
    border-bottom: 1px solid #dbdbdb;
}

.left-vertical-rule {
    border-left: 1px solid #dbdbdb;
}

.tablerow-no-borders td {
    border: none;
}
