* { box-sizing: border-box; margin: 0; padding: 0; }

html { font-size: 16px; }

.document {
  display: grid;
  grid-template:
    "a" min-content
    "b";
  font-family: sans-serif;
  letter-spacing: 0.05em;
  margin: 0 auto;
  min-width: 750px;
  max-width: 850px;
  text-align: left;
  padding: 2em;
}

h1 {
  font-size: 1.5rem;
  margin: 0;
}

h2 {
  font-size: 1.25rem;
  margin: 0;
}

h4 {
  font-size: 1.15rem;
  font-weight: 600;
  line-height: 1.125;
  margin-bottom: 0.8em;
}

.content p:not(:last-child) {
  margin-bottom: 1.5rem;
}

.small {
  font-size: 0.7rem;
}

.less-small {
  font-size: 0.9rem;
}

.upper {
  text-transform: uppercase;
}

.heading {
  display: block;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.center {
  display: grid;
  place-content: center;
  justify-items: center;
}

.text-center {
  text-align: center !important;
}

.title {
  display: grid;
  align-items: end;
  justify-items: center;
  grid-template: "a b c";
  margin-bottom: 1.5em;
  font-size: 0.9rem;
}

.title a {
  text-decoration: none;
  color: #3273dc;
}

.edu-block {
  display: grid;
  grid-template: "a b";
  align-items: center;
  justify-items: center;
  margin-bottom: 1.5em;
}

.edu-table {
  display: grid;
  grid-template-columns: min-content 1fr;
  row-gap: 0.5em;
  column-gap: 1em;
}

.edu-table span:nth-of-type(odd) {
  text-align: right;
}

.work-exp-head > :first-child {
  float: left;
}
.work-exp-head > :last-child {
  float: right;
}

.work-exp-head + * {
  clear: both;
}

.work-exp-head > p:first-child:not(:empty) {
  border-bottom: 1px solid #dbdbdb;
}

ul {
  /* font-size: 1rem; */
  margin-bottom: 1.5em;
}

.hr {
  border-bottom: 1px solid #dbdbdb;
}

.span-2 {
  grid-column: span 2;
}
